html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(73, 26, 73);
    box-sizing: border-box;
    color: white;
}


nav {
    height: 7vh;
}

.card-body span{
    font-size: 1rem;
}

.navbar-nav{
    background-color: #343a40;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container.py-5 {
    display: flex;
    align-items: center;
    font-size: 5vh;
}